@import 'mixins';

input, textarea {
	display: block;
	margin: 0 auto;
	width: 60%;
	outline: none;
	padding-top: 20px;
	padding-bottom: 7px;
	padding-left: 10px;
	font-size: 1.5em;
	font-family: 'Helvetica';
	background-color: transparent;
}
textarea {
	padding-top: 10px;
	margin-top: 30px;
	border: solid 1px white;
}
input {
	border: none; 
	border-bottom: solid 1px white;
	color: white;
}
.send {
	@include elegant(1em);
	border: solid 1px white;
	padding: 12px;
	width: 15%;
	min-width: 120px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px !important;
	cursor: pointer;
	transition: all .3s ease-in;
	user-select: none;
	&:hover {
		background-color: rgba(255, 255, 255, .3);
	}
}
::-webkit-input-placeholder { 
  color: rgba(255, 255, 255, .8);
}
::-moz-placeholder { 
  color: rgba(255, 255, 255, .8);
}
:-ms-input-placeholder { 
  color: rgba(255, 255, 255, .8);
}
