@import 'mixins';

#projects {
	background-color: transparent;
	height: 500px;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 10px;
}
.project {
	background-color: red;
	height: 160px;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-size: cover !important;
	transition: filter .4s ease-out;
	cursor: pointer;
	&:hover {
		filter: brightness(1.7);
	}
}
.project-title,.project-subtitle, .project-tech {
	margin: 0 !important;
	text-align: left !important;
}
.project-title {
	@include elegant(1.8em);
}
.project-subtitle {
	@include elegant-snippet;
}
.project-tech {
	@include elegant-snippet; 
}