doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Eduardo J. Velasco
    meta(name='author', content='Eduardo Velasco')
    meta(name='description', content='Personal space of Eduardo Velasco')
    meta(name='keywords', content='Eduardo Velasco, Eduardo, Velasco, portfolio, work, personal')
    //- link(rel='shortcut icon', href='favicon.ico', type='image/vnd.microsoft.icon')
    //- link(rel='stylesheet', href='//fonts.googleapis.com/css?family=font1|font2|etc', type='text/css')
    //- link(rel='stylesheet', href='stylesheet.css', type='text/css')
  body
  	p Hello world!