doctype html
html
	head
		title Eduardo Velasco
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		meta(name='author', content='Eduardo Velasco')
		meta(name='description', content='Personal space of Eduardo Velasco')
		meta(name='keywords', content='Eduardo Velasco, Eduardo, Velasco, portfolio, work, personal')
		link(rel='stylesheet', href='/build/main.css', type='text/css')
	body
		.bg
		.site-wrapper
			.site-wrapper-inner
				.cover-container
					.masthead.clearfix
						.inner
							.masthead-brand 
								ul.social-links
									li 
										a(class="entypo-twitter icon" href="https://twitter.com/velascoDev" target="blank")
									li 
										a(class="entypo-github icon" href="https://github.com/velascoDev" target="blank")
									li 
										a(class="entypo-linkedin icon" href="https://www.linkedin.com/in/ejvelasco/" target="blank")
							nav
								ul.nav.masthead-nav
									li
										a Home
									li
										a Projects
									li
										a About
									li
										a Contact
					#projects.inner.cover
					#about.inner.cover
						p About 
						p Some stuff here
					#contact.inner.cover
						p Contact 
						p Some stuff here
					#home.inner.cover
						span.cover-heading Eduardo Velasco
						p.lead Welcome to my portfolio.
		script(src="/build/main.js" type="text/javascript")